<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Guide Touristique</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Logo icon -->
  <link href="../img/logo.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS -->
  <link href="../vendor/aos/aos.css" rel="stylesheet">
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> <!--Animate on Scroll Library-->
  <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> <!--icons from boostrap-->
  <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet"> <!--open source icons designed on 24px grid-->
  <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet"> <!--Animation library-->
  <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!--  CSS File -->
  <link href="../css/style.css" rel="stylesheet">

</head>

<body>

 <!-- Header -->
 <header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <a href="../"><img src="../img/logo.png" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        
        <li><a class="nav-link scrollto" href="../">Accueil</a></li>
        <li><a class="nav-link scrollto " href="#activities">Activités</a></li>
        <li><a class="nav-link scrollto " href="#map">Carte</a></li>
        <ul>
          <li class="dropdown"><a href="#"><span>Compte</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="#">Se connecter</a></li>
              <li><a href="#">S'inscrire</a></li>
            </ul>
          </li>
      </li>
      </ul>
    </nav>

  </div>
</header>

  <main id="main" data-aos="fade-up">

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Détails des activités</h2>
          <ol>
            <li><a href="../">Accueil</a></li>
            <li>Détails des activités</li>
          </ol>
        </div>
      </div>
    </section>

    <!--  Activies Details Section  -->
    <section id="activities-details" class="activities-details">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-8">
             <div class="activities-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <!--<div class="swiper-slide">-->
                  <img src="../img/activities/<%=data[0].Nom%>.jpg" alt="">
                <!--</div>-->
              </div>
              <!--<div class="swiper-pagination"></div>-->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="activities-info">
              <h3> Informations</h3>
              <ul>
                <li><strong>Catégorie</strong> : <%=data[0].Categorie%></li>
              </ul>
            </div>
            <div class="activities-description">
              <h2>Description</h2>
              <p> <%=data[0].Description%></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../vendor/aos/aos.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../vendor/swiper/swiper-bundle.min.js"></script>
 

  <!--JS File -->
  <script src="../js/main.js"></script>

</body>
</html>